@model MvcAuthNBlog.Models.BlogCommentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.AuthorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.AuthorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.ArticleTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.ArticleTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.ArticlePost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.ArticlePost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.PublishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Blog.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentAuthorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Add Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogID" value="@Model.Blog.ID" class="form-control" />
            <div class="form-group">
                <label asp-for="CommentAuthorID" class="control-label"></label>
                <input asp-for="CommentAuthorID" type="hidden" value="@ViewData["userid"]" class="form-control" />
                <span asp-validation-for="CommentAuthorID" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="CommentPost" class="control-label"></label>
                <input asp-for="CommentPost" class="form-control" />
                <span asp-validation-for="CommentPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
